--extra-index-url https://download.pytorch.org/whl/cpu

# Core ML stack (CPU)
torch==2.3.1+cpu
torchvision==0.18.1+cpu
numpy==1.26.4
pandas==2.2.2
scipy==1.11.4
scikit-learn==1.5.2
pillow==10.3.0
tqdm==4.66.4

# ONNX
onnx==1.16.0
onnxruntime==1.18.0

# Plot/nb headless
matplotlib==3.8.4
nbformat==5.10.4
nbclient==0.10.2
jupyter-client==8.6.0
jupyter-core==5.7.2
ipykernel==6.29.5
nbconvert==7.15.0
mistune==3.0.2

# Övrigt
python-dotenv==1.0.1